name: Code Coverage

on:
  push:
    branches: [main]
    paths:
      - 'Package.swift'
      - 'Sources/**'
      - 'Tests/**'
  pull_request:
    paths:
      - 'Package.swift'
      - 'Sources/**'
      - 'Tests/**'
      - '.github/workflows/code-coverage.yml'

jobs:
  third-party-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    uses: snapshot-testing/.github/.github/workflows/third-party-tests.yml@main
    with:
      platform: ${{ matrix.os }}
      coverage-enabled: true
    secrets: inherit

  apple-tests:
    strategy:
      matrix:
        destination:
          - "platform=iOS Simulator,arch=arm64,name=iPhone 16 Pro,OS=26.0"
          - "platform=iOS Simulator,arch=arm64,name=iPad (A16),OS=26.0"
          - "platform=watchOS Simulator,arch=arm64,name=Apple Watch Series 10 (42mm),OS=26.0"
          - "platform=tvOS Simulator,arch=arm64,name=Apple TV 4K (3rd generation) (at 1080p),OS=26.0"
          - "platform=visionOS Simulator,arch=arm64,name=Apple Vision Pro,OS=26.0"
          - "platform=macOS,arch=arm64,name=My Mac"
          - "platform=macOS,arch=arm64,variant=Mac Catalyst,name=My Mac"

    uses: snapshot-testing/.github/.github/workflows/apple-tests.yml@main
    with:
      package-name: "xc-snapshot-testing-Package"
      destination: ${{ matrix.destination }}
      coverage-enabled: true
    secrets: inherit

  coverage-upload:
    needs: [third-party-tests, apple-tests]
    if: always() # ⬅️ Importante: executa mesmo se alguns jobs falharem
    uses: snapshot-testing/.github/.github/workflows/coverage-upload.yml@main
    secrets: inherit